@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums;

@model SampleModel
@section Title
    {
    <p>
        The toolbar can be positioned at the top of bottom of the form using the @Model.HelpLink("dbnetedit_properties.htm#ToolbarPosition", "ToolbarPosition") property. The style of the toolbar button can be controlled with the @Model.HelpLink("dbnetedit_properties.htm#ToolbarButtonStyle", "ToolbarButtonStyle") property.
    </p>
}
@section Markup {
    <div class="source">
        <table class="selection-table">
            <tr>
                <td><b>Toolbar Position</b></td>
                <td>
                    <select class="form-select" id="toolbarLocation">
                        <option value="Top">Top</option>
                        <option value="Bottom">Bottom</option>
                    </select>
                </td>
                <td><b>Toolbar Style</b></td>
                <td>
                    <select class="form-select" id="toolbarButtonStyle">
                        <option value="Image">Image</option>
                        <option value="Text">Text</option>
                        <option value="ImageAndText">Image and text</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
}


@section Control
{
    @{
        DbNetEditCore customersEdit = new DbNetEditCore("northwind", "customers")
        {
            LayoutColumns = 3,
            ToolbarPosition = Model.ToolbarLocation,
            ToolbarButtonStyle = Model.ToolbarButtonStyle
        };

        @customersEdit.Render()
    }
}

@section Source {
DbNetEditCore customersEdit = new DbNetEditCore("northwind", "customers")
{
    LayoutColumns = 10,
    ToolbarPosition = Model.ToolbarLocation,
    ToolbarButtonStyle = Model.ToolbarButtonStyle
};

@@customersEdit.Render()
}

@section Scripts
    {
    <script type="text/javascript" class="source">
        var toolbarLocation = "@Model.ToolbarLocation"
        var toolbarButtonStyle = "@Model.ToolbarButtonStyle"

        $(document).ready(init);

        function init() {
            $('#toolbarLocation').val(toolbarLocation).change(function (event) { reloadPage(event) });
            $('#toolbarButtonStyle').val(toolbarButtonStyle).change(function (event) { reloadPage(event) });
        }

        function reloadPage(event) {
            window.location.href = window.location.href.replace(/[\?#].*|$/, "?toolbarLocation=" + $('#toolbarLocation').val() + "&toolbarButtonStyle=" + $('#toolbarButtonStyle').val());
        }
    </script>
}